.VHeader {
  float: left;
  display: block;
}
.VHeaderImg {
  float: left;
  display: block;
  width: 70px;
  margin: 2px;
}
.VHeaderSpan { 
  float: left;
  display: block;
  color: rgb(41, 19, 82);
  vertical-align: center;
  font-size: 1.2em;
  width:70px;
}
