.VHeader {
  float: left;
  border: dotted 1px gray;
  margin: none;
}
.VHeaderImg {
  display: inline-block;
  width: 70px;
  margin: 2px;
}
.VHeaderSpan {
  display: inline-block;
  vertical-align: top;
  color: rgb(41, 19, 82);
  font-size: 1.2em;
  width: 70px;
}
