.VPlaceInfo {
  border: 1px;
  border-radius: 5px;
  list-style: none;
  padding: 5px;
  margin: 10px 10px 10px 10px;
  width: 200px;
  background: #fff;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
  transition: transform 0.5s;
  user-select: none;
}
.VPlaceInfo:hover {
  transform: scale(1.05);
  z-index: 5;
  background: #2185b0;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  color: #fff;
  opacity: 1;
}

.VPlaceInfoImg {
  width: 190px;
  margin: 0;
  border-radius: 15px;
}
.VPlaceInfoText {
  border: none;
}
.VPlaceInfo h2 {
  text-align: center;
  border-bottom: 1px solid gray;
}
.VPlaceInfo h3 {
  text-align: left;
  border-bottom: 1px dashed gray;
}
