.VProgress {
  display: inline-block;
  height: 1.1em;
  line-height: 1.2em;
  width: 200px;
  position: relative;
  text-align: center;
  vertical-align: bottom;
  color: black;
  padding: 2px;
  margin: none;
}
.VProgress span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: gray;
}
.VProgress span:last-child {
  background-color: darkorange;
  color: white;
  clip-path: rect(0 100px 1em 0);
}
