.VProgress{
    height:20px;
    line-height:20px;
    width:200px;
    position:relative;    
    text-align:center;
    color:black;
    padding: 4px;
}
.VProgress span{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    background-color:gray;
}
.VProgress span:last-child{
    background-color:green;
    color:white;
    clip:rect(0 0px 20px 0);
}