.VShedule {
  max-width: 500px;
  border: dotted 1px black;
  margin: 2px;
  padding: 2px;
}
.VSheduleButton {
  display: inline;
  padding: 2px 5px;
  margin-left: 10px;
}
.VSheduleEntryBox {
  display: block;
  background-color: aquamarine;
  border: solid 1px aquamarine;
  padding: 2px;
  margin: 2px;
}
.VSheduleEntryBtns {
  padding: 0;
}
.VSheduleEntryBtn {
  padding: 2px;
  margin-left: 5px;
}
