.VStatList {
  background-color: beige;
  border: dotted 1px black;
  margin: 5px;
  padding: 2px;
  width: 250px;
}
.VStatListEntryBox {
  background-color: rgb(248, 248, 213);
  margin: none;
  padding: none;
}
