div {
  border: none 1px;
}
.inputFilter {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 1px 1px;
  width: 100%;
  max-width: 100px;
  margin: 1;
}
progress {
  background-color: #f3f3f3;
  accent-color: coral;
  border: 0;
  height: 18px;
  border-radius: 9px;
  content: attr(value) '%';
}
.clearfix {
  clear: both;
}
.wrapper {
  display: flex;
  justify-content: flex-end;
  flex-flow: row nowrap;
}
.wrapperCenter {
  display: flexbox;
}
.wrapperRight {
  display: flexbox;
}
